/* Global styles */
@import 'tinymce/skins/ui/oxide/skin.css';
@import 'tinymce/skins/content/default/content.css';
@import 'tinymce/skins/ui/oxide/content.min.css';

@import 'prismjs/themes/prism-okaidia.css';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--surface-ground);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.form-card {
  width: 100%;
  max-width: 450px;
}
